
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="fr">
    <title>fich-client</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("#adr").hide();
        });
        $("#show").click(function(){
            $("#adr").show();
        });
    });
    </script>
    <script type="text/javascript" >
            var myApp=angular.module("AngularApp",[]);
            myApp.controller("HelloController",function($scope){
                $scope.txtname="";
            });
        </script>

        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                            ->prependStylesheet($this->basePath('css/.css'))

            ?>

            <!-- Scripts -->
            <?= $this->headScript()
                ->prependFile($this->basePath('js/showAdr.js'))

            ?>
    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                      ->prependStylesheet($this->basePath('panelsearch/css/style.css'))
                      //->prependStylesheet($this->basePath('panelsearch/css/tabresult.css'))
                      ->prependStylesheet($this->basePath('jtable/themes/redmond/jquery-ui-1.8.16.custom.css'))
                      ->prependStylesheet($this->basePath('jtable/jtable.css'))

    ?>

    <!-- Scripts -->

    <?= $this->headScript()
    ->prependFile($this->basePath('jtable/scripts/jquery-1.6.4.min.js'))
    //  ->prependFile($this->basePath('panelsearch/js/tabresult.js'))
    ->prependFile($this->basePath('jtable/scripts/jquery-ui-1.8.16.custom.min.js'))
    ->prependFile($this->basePath('jtable/Scripts/jtable/jquery.jtable.js'))

    ?>


  </head>
  <body>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
        <div class="panel " >
          <div class="panel-body">

            <?= $this->form()->openTag($form); ?>


            <div class="form-group">
                <?= $this->formLabel($form->get('nom')); ?>
                <?= $this->formElement($form->get('nom')); ?>
                <?= $this->formElementErrors($form->get('nom')); ?>
            </div>

            <div class="form-group">
                <?= $this->formLabel($form->get('fid')); ?>
                <?= $this->formElement($form->get('fid')); ?>
                <?= $this->formElementErrors($form->get('fid')); ?>
            </div>

             <div class="form-group">
                <?= $this->formLabel($form->get('address1')); ?>
                <?= $this->formElement($form->get('address1')); ?>
                <?= $this->formElementErrors($form->get('address1')); ?>

    <div ng-app="AngularApp">
    Ajouter d'autre Adress:  <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br />
    <div class="check-element funky-show-hide" ng-show="checked">

     <div class="form-group">
                <?= $this->formElement($form->get('address2')); ?>
                <?= $this->formElementErrors($form->get('address2')); ?>

                <?= $this->formElement($form->get('address3')); ?>
                <?= $this->formElementErrors($form->get('address3')); ?>

     </div>
     </div>
       </div>
        </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('cp')); ?>
                <?= $this->formElement($form->get('cp')); ?>
                <?= $this->formElementErrors($form->get('cp')); ?>
            </div>

             <div class="form-group">
                <?= $this->formLabel($form->get('ville')); ?>
                <?= $this->formElement($form->get('ville')); ?>
                <?= $this->formElementErrors($form->get('ville')); ?>
            </div>

             <div class="form-group">
                <?= $this->formLabel($form->get('Pays')); ?>
                <?= $this->formElement($form->get('Pays')); ?>
                <?= $this->formElementErrors($form->get('Pays')); ?>
            </div>

             <div class="form-group">
                <?= $this->formLabel($form->get('zonegeo')); ?>
                <?= $this->formElement($form->get('zonegeo')); ?>
                <?= $this->formElementErrors($form->get('zonegeo')); ?>
            </div>

             <div class="form-group">
                <?= $this->formLabel($form->get('telephone')); ?>
                <?= $this->formElement($form->get('telephone')); ?>
                <?= $this->formElementErrors($form->get('telephone')); ?>
            </div>

             <div class="form-group">
                <?= $this->formLabel($form->get('email')); ?>
                <?= $this->formElement($form->get('email')); ?>
                <?= $this->formElementErrors($form->get('email')); ?>
            </div>



            <?= $this->formElement($form->get('Add')); ?>
            <?= $this->formElement($form->get('Annuler')); ?>

            <?= $this->form()->closeTag(); ?>
        </div>
          </div>
          </div>
          </div>
          </div>
  </body>
</html>
