<!DOCTYPE html>
<html>
  <head>


    <meta charset="utf-8" name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;">
    <title>fich-client</title>

    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                      ->prependStylesheet($this->basePath('panelsearch/css/style.css'))
                      ->prependStylesheet($this->basePath('nav-cont-visit/pro_drop_1/pro_drop_1.css'))
                      ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
                      //->prependStylesheet($this->basePath('panelsearch/css/tabresult.css'))
                      ->prependStylesheet($this->basePath('jtable/themes/redmond/jquery-ui-1.8.16.custom.css'))
                      ->prependStylesheet($this->basePath('jtable/jtable.css'))
                      ->prependStylesheet($this->basePath('panelform/css/style.css'))

    ?>

    <!-- Scripts -->

    <?= $this->headScript()
    ->prependFile($this->basePath('jtable/scripts/jquery-1.6.4.min.js'))
    ->prependFile($this->basePath('js/jquery-2.2.4.js'))
    ->prependFile($this->basePath('jtable/scripts/jquery-ui-1.8.16.custom.min.js'))
    ->prependFile($this->basePath('jtable/Scripts/jtable/jquery.jtable.js'))
    ->prependFile($this->basePath('nav-cont-visit/pro_drop_1/stuHover.js'))
    ->prependFile($this->basePath('panelform/js/close.js'))

    ?>


  </head>
  <body>

<div class="row">
  <div class="panG">
    <div class="panel backgroundColor" >
      <div class="panel-body">

        <div class="cordenyt">

            <address class="indent">
    <strong><?= $this->escapeHtml($prospects->getnom());?></strong><br>
    <?= $this->escapeHtml($prospects->getaddress1());?><br>
    <?= $this->escapeHtml($prospects->getpostcode());?> , <?= $this->escapeHtml($prospects->getville());?><br>
    <abbr title="TEL">TEL:</abbr> <u><?= $this->escapeHtml($prospects->gettelephone());?></u>
  </address>





        </div>
<br>
<div class="nave">
  <ul id="sddm">
      <li id="contacts"><a onclick="toggle_visibility('list1')"; href="#contacts"
          onmouseover="mopen('m1')"
          onmouseout="mclosetime()">Contacts</a>
      </li>
      <li id="visites"><a  onclick="toggle_visibility('list2'),toggle_visible('list1')"href="#visites"
          onmouseover="mopen('m2')"
          onmouseout="mclosetime()">Visites</a>
      </li>

  </ul>
  <div style="clear:both"></div>

  <div class="contvist" id="list1" >
    <br><a class="bts btn-success" id="mybtn1" role="button">Nouveau contacts</a>


<?php foreach ($contacts as $contact): ?>
  <div class="contacts-sepa">
    <p>
      <?= $this->escapeHtml($contact->getnom());?> <?= $this->escapeHtml($contact->getprenom());?> <u><?= $this->escapeHtml($contact->gettelephone());?></u>
      <?= $this->escapeHtml($this->contactsManager->getfonctionAsString($contact->getfonction()));?><br>
      <?= $this->escapeHtml($contact->getadr1());?> ,   <?= $this->escapeHtml($contact->getcp());?>    <?= $this->escapeHtml($contact->getville());?>
    </p>
  </div>
<br>
<?php endforeach; ?>
</div>

<div class="visit-nav" id="list2" style="display:none">
  <br><a id="mybtn" class="bts btn-success"  role="button">Nouvelle visite</a>
  <br>

  <?php foreach ($visites as $visite): ?>
    <div class="contacts-sepa">
      <p>
      Action :  <?= $this->escapeHtml($this->visiteManager->getactionAsString($visite->getidAction()));?> <br>
      Le <?= $this->escapeHtml($visite->getCreeLe());?><br>
       <?= $this->escapeHtml($visite->getCommentaire());?>
    </p>
    </div>
<br>
  <?php endforeach; ?>
  </div>

  <br>
<br>

      </div>

  </div>

    </div>
  </div>
</div>

<!-- The Modal nEW Action -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="scrollbar1">
  <div class="modal-content">
    <span class="close">&times;</span> 

        <?= $this->form()->openTag($form); ?>
 <blockquote>
 <p>Saisie d'une nouvelle action </p>

</blockquote>
        <div class="form-group">

            <?= $this->formElement($form->get('idAction')); ?>
            <?= $this->formElementErrors($form->get('idAction')); ?>
        </div>

        <div class="form-group">

            <?= $this->formElement($form->get('idContact1')); ?>
            <?= $this->formElementErrors($form->get('idContact1')); ?>
        </div>

        <div class="form-group">

            <?= $this->formElement($form->get('idContact2')); ?>
            <?= $this->formElementErrors($form->get('idContact2')); ?>
        </div>

        <div class="form-group">

            <?= $this->formElement($form->get('idContact3')); ?>
            <?= $this->formElementErrors($form->get('idContact3')); ?>
        </div>

        <div class="form-group">

            <?= $this->formElement($form->get('Commentaire')); ?>
            <?= $this->formElementErrors($form->get('Commentaire')); ?>
        </div>
         <div class="form-group">

            <?= $this->formElement($form->get('Destinataires')); ?>
            <?= $this->formElementErrors($form->get('Destinataires')); ?>
        </div>


<div class="bbb2">
  <?= $this->formElement($form->get('Annuler')); ?>



  <?= $this->formElement($form->get('enregistrerv')); ?>
</div>







        <?= $this->form()->closeTag(); ?>
    
</div>
</div>
</div>


<!-- The Modal contacts -->
<div id="myModal1" class="modal">

  <!-- Modal content -->
  <div class="scrollbar">
  <div class="modal-content1">
    <span class="close1">&times;</span>
    

        <?= $this->form()->openTag($formc); ?>
 <blockquote>
 <p>  Ajout de contact </p>

</blockquote>
          
                <div class="md1">
                       <?= $this->formLabel($formc->get('civilite'));?>
                       <?= $this->formElement($formc->get('civilite')); ?>
                       <?= $this->formElementErrors($formc->get('civilite')); ?>
                    
               </div>

                <div class="md2">
                       <?= $this->formLabel($formc->get('nom'));?>
                       <?= $this->formElement($formc->get('nom')); ?>
                       <?= $this->formElementErrors($formc->get('nom')); ?>
                    
                </div>

                <div class="md3">
                       <?= $this->formLabel($formc->get('prenom'));?>
                       <?= $this->formElement($formc->get('prenom')); ?>
                       <?= $this->formElementErrors($formc->get('prenom')); ?>
                 
                </div>
       
                <div class="md4">
                  <div class="form-group">
                       <?= $this->formLabel($formc->get('telephone'));?>
                       <?= $this->formElement($formc->get('telephone')); ?>
                       <?= $this->formElementErrors($formc->get('telephone')); ?>
                  </div>
                </div>  

                <div class="md5">
                 <div class="form-group">
                       <?= $this->formLabel($formc->get('mobile'));?>
                       <?= $this->formElement($formc->get('mobile')); ?>
                       <?= $this->formElementErrors($formc->get('mobile')); ?>
                 </div>
                </div>
                  <div class="md6">
                   <div class="form-group">
                       <?= $this->formLabel($formc->get('email'));?>
                       <?= $this->formElement($formc->get('email')); ?>
                       <?= $this->formElementErrors($formc->get('email')); ?>
                   </div>
                  </div>
                    <div class="md7">
                     <div class="form-group">
                       <?= $this->formLabel($formc->get('fonction'));?>
                       <?= $this->formElement($formc->get('fonction')); ?>
                       <?= $this->formElementErrors($formc->get('fonction')); ?>
                     </div>
                    </div>
                    
                    <div class="md8">
                     <div class="form-group">
                       <?= $this->formLabel($formc->get('adr1'));?>
                       <?= $this->formElement($formc->get('adr1')); ?>
                       <?= $this->formElementErrors($formc->get('adr1')); ?>
                     </div>
                    </div>
                    
                    <div class="md9">
                     <div class="form-group">
                       <?= $this->formLabel($formc->get('cp'));?>
                       <?= $this->formElement($formc->get('cp')); ?>
                       <?= $this->formElementErrors($formc->get('cp')); ?>
                     </div>
                    </div>

                    <div class="md10"> 
                     <div class="form-group">
                       <?= $this->formLabel($formc->get('ville'));?>
                       <?= $this->formElement($formc->get('ville')); ?>
                       <?= $this->formElementErrors($formc->get('ville')); ?>
                     </div>
                    </div>
                    
                    <div class="md11"> 
                     <div class="form-group">
                       <?= $this->formLabel($formc->get('spe1'));?>
                       <?= $this->formElement($formc->get('spe1')); ?>
                       <?= $this->formElementErrors($formc->get('spe1')); ?>
                     </div>
                    </div>
                    
<div class="mdbtn">
  <?= $this->formElement($formc->get('annuler')); ?>
  <?= $this->formElement($formc->get('enregistrer')); ?>
</div>







        <?= $this->form()->closeTag(); ?>


  </div>

</div>
<div>
  </body>
  <script>

var modal = document.getElementById('myModal');

var btn = document.getElementById("mybtn");

var modal1 = document.getElementById('myModal1');

var btn1 = document.getElementById("mybtn1");
var span = document.getElementsByClassName("close")[0];
var span1 = document.getElementsByClassName("close1")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

btn1.onclick = function() {
    modal1.style.display = "block";
}

span1.onclick = function() {
    modal1.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal1) {
        modal1.style.display = "none";
    }
}
</script>
</html>
