<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;">
    <title>cherche Enterprise</title>
    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                    ->prependStylesheet($this->basePath('panelsearch/css/style.css'))
                    ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
                    //->prependStylesheet($this->basePath('panelsearch/css/tabresult.css'))
                    ->prependStylesheet($this->basePath('jtable/themes/redmond/jquery-ui-1.8.16.custom.css'))
                    ->prependStylesheet($this->basePath('jtable/jtable.css'))
                    ->prependStylesheet($this->basePath('css/parsley.css'))

    ?>

    <!-- Scripts -->
    <?= $this->headScript()
    ->prependFile($this->basePath('js/parsley.min.js'))

    ?>
  </head>

  <body>
    <div class="row">
      <div class="panG">
    <div class="panel backgroundColor" >
      <div class="panel-body">
          <?= $this->form()->openTag($form); ?>

<div class="input">
  <?= $this->formElement($form->get('inputsearch')); ?>
  <?= $this->formElementErrors($form->get('inputsearch')); ?>
</div>

<div class="search">
    <?= $this->formElement($form->get('search')); ?>
</div>




            <?= $this->form()->closeTag(); ?>
 <a class="sea" href="#">Recherche détaillée</a>
            <!-- here table result !!!-->
        </div>
    </div>

      </div>

      



  </body>
</html>
