 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;">
    <title>cherche Enterprise</title>
    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                      ->prependStylesheet($this->basePath('panelsearch/css/style.css'))
                      //->prependStylesheet($this->basePath('panelsearch/css/tabresult.css'))
                      //->prependStylesheet($this->basePath('jtable/themes/redmond/jquery-ui-1.8.16.custom.css'))
                  //    ->prependStylesheet($this->basePath('jtable/jtable.css'))

    ?>

    <!-- Scripts -->

    <?= $this->headScript()
  //  ->prependFile($this->basePath('jtable/scripts/jquery-1.6.4.min.js'))
    //  ->prependFile($this->basePath('panelsearch/js/tabresult.js'))
  //  ->prependFile($this->basePath('jtable/scripts/jquery-ui-1.8.16.custom.min.js'))
  //  ->prependFile($this->basePath('jtable/Scripts/jtable/jquery.jtable.js'))

    ?>




  </head>

  <body>


<div class="row">
  <div class="panG">
   <div class="panel backgroundColor" >
    <div class="panel-body">
          <?= $this->form()->openTag($form); ?>

        <div class="input">

                <?= $this->formElement($form->get('inputsearch')); ?>
                <?= $this->formElementErrors($form->get('inputsearch')); ?>

       </div>

       <div class="search">
                <?= $this->formElement($form->get('search')); ?>
       </div>


            <?= $this->form()->closeTag(); ?>
 <a class="sde" href="#">Recherche détaillée</a>
            <!-- here table result !!!-->
<table id="tab" class="table table-bordered">
  <thead >

      <th class="id"> id</th>
      <th class="nom">Nom</th>
      <th class="cv">CP , Ville</th>

  </thead>

            <?php foreach ($prospects as $prospect): ?>
              <tr>
                <td> <?= $this->escapeHtml($prospect->getid()); ?></td>
                <td>
                     <a class="nom" href="<?= $this->url('comme', ['action'=>'fichclient', 'id'=>$prospect->getid()]); ?>">
                        <?= $this->escapeHtml($prospect->getNom()); ?>
                     </a>
                </td>

                   <td><?= $this->escapeHtml($prospect->getpostcode()); ?> ,<?= $this->escapeHtml($prospect->getville()); ?></td>
              </tr>


             <?php endforeach; ?>
     </table>



      </div>
    </div>
  </div>
</div>

  </body>

</html>
