
@media (max-width: 900px) {
    body    {
        padding-left: 20px;
        padding-right: 20px;
        color: blue;
    }
}
div .backgroundColor{
    padding: 20px;
    margin: 20px;

    min-height: 450px;
}
.
.borderColor {
    border-width: 3px;
    border-style: solid;
    border-color: #3366FF;
}
.backgroundColor {
    background-color: #3366FF;
    color: white;
}
.backgroundColor {
    background: linear-gradient(to bottom, white, #3366FF);
    color: white;
}

.lighterColor {
    background: #7093FF;
}
.darkerColor {
    background: #2347B2;
}
.lighterColor > p,
.darkerColor > p {
    color: black;
    background: white;
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
}
a.sde
{

  font-size: 17px;
      font-style: italic;
}
table.table
{
  position: relative;

/*max-width: 110%;*/
}
a.nom
{
  color: white;
  font-size: 15px;
      font-style: italic;
}
tbody
{
background-color: #4169E1;

}


thead{
  background-color:#0000FF ;
}
div .input{
  position: relative;
 top: 20px;
 right: 3%;
}

div .search{
position: relative;
top: -12px;
left: 75%;

}
div.cordenyt{
  border-width: 1px;
  border-style: solid;
  border-color: #3366FF;

}

div.contvist{

  border-width: 1px;
  border-style: solid;
  border-color: #3366FF;
  color: black;
  font-size: 16px;
  padding-left: 0.4em

}
div .visit-nav{
  border-width: 1px;
  border-style: solid;
  border-color: #3366FF;
  color: black;
  font-size: 16px;
    padding-left: 0.4em
}
u  {
  color: blue;
  font-style: italic;
  font-size: 16px;
}
.skip-navigation {
  .sr-only();
  .sr-only-focusable();
}
address{
  color: black;
}

div .bbb2{
  position:relative;
  left:54%;
}
div .contacts-sepa
{
  position: relative;
  right: -0.4%;
  width: 95%;
  border-width: 1px;
  border-style: solid;
  border-color: #3366FF;
  font-size: 12px;
  padding-left: 0.4em

}
div .nave{

}
.btn-success{
  position: relative;
  left: 45%;
}
div .indent
{
  padding-left: 0.8em
}
